@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cataliza-bg: #191d23;
  --cataliza-primary: #4a87c0;
  --cataliza-secondary: #2f5385;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--cataliza-bg);
}
